# ðŸ“š Import Libraries

In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint

%matplotlib inline
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
import random
InteractiveShell.ast_node_interactivity = "all"
import os
from datetime import datetime
import matplotlib.pyplot as plt
import plotly.express as px
import glob
from tqdm import tqdm

import plotly.figure_factory as ff
import plotly.express as px
import numpy as np

import geopandas as gpd
from shapely.geometry import Point
from shapely.ops import nearest_points

/opt/conda/lib/python3.7/site-packages/geopandas/_compat.py:115: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

### Use mapbox for visualization

In [2]:
# use your own mapbox token here to visualize
MAPBOX_TOKEN = 'pk.eyJ1IjoiaWdsYXdlYiIsImEiOiJja3picmk5NmsyaDZxMndtenYyOWhvNmtnIn0.Dxi29pChSrUbePq_oZ1rTw'
px.set_mapbox_access_token(MAPBOX_TOKEN)

In [3]:
# data description https://www.ncei.noaa.gov/data/global-summary-of-the-day/doc/readme.txt
WORK_DIR = './'
aus_fire = pd.read_csv(WORK_DIR + '/wildfiredataset/australia_fire_total_ready.csv')
aus_fire.shape
aus_fire.head()

(4576014, 12)

,latitude,longitude,year,month,fire_cnt,fire,fire_cnt_before,fire_before,fire_cnt_last_year,fire_last_year,fire_cnt_last_year_same_month,fire_last_year_same_month
0,-40.0,143.9,2014,5,2,1,0.166667,0.083333,0.333333,0.083333,0,0
1,-40.0,143.9,2015,6,2,1,0.166667,0.083333,0.166667,0.083333,0,0
2,-40.0,143.9,2016,10,3,1,0.250000,0.083333,0.166667,0.083333,0,0
3,-40.0,143.9,2018,10,1,0,0.083333,0.000000,0.000000,0.000000,0,0
4,-40.0,143.9,2020,6,1,0,0.083333,0.000000,0.000000,0.000000,0,0

In [4]:
aus_fire.latitude.min(), aus_fire.latitude.max()
aus_fire.longitude.min(), aus_fire.longitude.max()

(-40.0, -9.0)

(112.0, 154.7)

In [5]:
# data description https://www.ncei.noaa.gov/data/global-summary-of-the-day/doc/readme.txt
aus_weather = pd.read_csv(WORK_DIR + '/wildfiredataset/australia_weather_full2.csv', parse_dates=['DATE'])
aus_weather.shape
aus_weather.head()

(1479377, 19)

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,DEWP,SLP,STP,VISIB,WDSP,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT
0,95658099999,2013-01-01,-30.483333,136.883333,100.0,"OLYMPIC DAM AERODROME, AS",91.3,17.0,1012.0,0.6,999.9,8.4,13.0,999.9,108.5,61.5,0.0,999.9,0
1,95658099999,2013-01-02,-30.483333,136.883333,100.0,"OLYMPIC DAM AERODROME, AS",91.9,18.2,1010.9,999.5,999.9,7.9,14.0,999.9,107.2,70.3,0.0,999.9,0
2,95658099999,2013-01-03,-30.483333,136.883333,100.0,"OLYMPIC DAM AERODROME, AS",95.2,8.3,1006.0,994.7,999.9,7.6,12.0,999.9,109.6,68.2,0.0,999.9,0
3,95658099999,2013-01-04,-30.483333,136.883333,100.0,"OLYMPIC DAM AERODROME, AS",94.6,25.3,1004.2,992.8,999.9,7.0,14.0,999.9,115.9,69.6,0.0,999.9,0
4,95658099999,2013-01-05,-30.483333,136.883333,100.0,"OLYMPIC DAM AERODROME, AS",91.1,43.6,1011.3,999.9,999.9,14.3,16.9,999.9,111.4,73.4,0.0,999.9,0

# Set precision for geo coordinates

In [6]:
# http://wiki.gis.com/wiki/index.php/Decimal_degrees
PRECISION = 2 # 2 places - 1 km
aus_weather.LATITUDE = aus_weather.LATITUDE.astype(float).round(PRECISION)
aus_weather.LONGITUDE = aus_weather.LONGITUDE.astype(float).round(PRECISION)
aus_weather.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,DEWP,SLP,STP,VISIB,WDSP,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT
0,95658099999,2013-01-01,-30.48,136.88,100.0,"OLYMPIC DAM AERODROME, AS",91.3,17.0,1012.0,0.6,999.9,8.4,13.0,999.9,108.5,61.5,0.0,999.9,0
1,95658099999,2013-01-02,-30.48,136.88,100.0,"OLYMPIC DAM AERODROME, AS",91.9,18.2,1010.9,999.5,999.9,7.9,14.0,999.9,107.2,70.3,0.0,999.9,0
2,95658099999,2013-01-03,-30.48,136.88,100.0,"OLYMPIC DAM AERODROME, AS",95.2,8.3,1006.0,994.7,999.9,7.6,12.0,999.9,109.6,68.2,0.0,999.9,0
3,95658099999,2013-01-04,-30.48,136.88,100.0,"OLYMPIC DAM AERODROME, AS",94.6,25.3,1004.2,992.8,999.9,7.0,14.0,999.9,115.9,69.6,0.0,999.9,0
4,95658099999,2013-01-05,-30.48,136.88,100.0,"OLYMPIC DAM AERODROME, AS",91.1,43.6,1011.3,999.9,999.9,14.3,16.9,999.9,111.4,73.4,0.0,999.9,0

# Analyze duplicates

In [7]:
# Selecting duplicate rows based
# on list of column names
aus_weather_d = aus_weather[aus_weather.duplicated(['DATE', 'LATITUDE', 'LONGITUDE'])]
# df.drop_duplicates(subset=['DATE', 'LATITUDE', 'LONGITUDE'], keep=False, inplace=True)
print(aus_weather_d.shape)
aus_weather_d.head()

(12993, 19)

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,DEWP,SLP,STP,VISIB,WDSP,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT
69783,95719099999,2013-01-01,-32.22,148.57,285.0,"DUBBO AIRPORT AWS, AS",82.6,38.1,1009.6,977.4,999.9,7.2,15.9,999.9,103.3,56.8,0.0,999.9,0
69784,95719099999,2013-01-02,-32.22,148.57,285.0,"DUBBO AIRPORT AWS, AS",80.9,42.8,1011.1,978.9,999.9,11.4,15.9,999.9,100.9,56.3,0.0,999.9,0
69785,95719099999,2013-01-03,-32.22,148.57,285.0,"DUBBO AIRPORT AWS, AS",79.4,55.8,1011.7,979.5,999.9,11.9,18.1,999.9,97.3,64.8,0.0,999.9,0
69786,95719099999,2013-01-04,-32.22,148.57,285.0,"DUBBO AIRPORT AWS, AS",88.0,55.3,1010.7,978.5,999.9,8.9,14.0,999.9,101.7,64.8,0.0,999.9,0
69787,95719099999,2013-01-05,-32.22,148.57,285.0,"DUBBO AIRPORT AWS, AS",89.8,53.7,1013.6,981.3,999.9,7.4,13.0,999.9,102.9,71.2,0.0,999.9,0

In [8]:
print('Number of unique stations', len(aus_weather['STATION'].unique()))

Number of unique stations 595

In [9]:
print('Lat range', aus_weather['LATITUDE'].min(), aus_weather['LATITUDE'].max())
print('Lng range', aus_weather['LONGITUDE'].min(), aus_weather['LONGITUDE'].max())

Lat range -39.88 -10.05
Lng range 113.52 154.4

# Remove stations that have less than 108 measurements

In [10]:
aus_weather['year'] = aus_weather.DATE.dt.year
aus_weather['month'] = aus_weather.DATE.dt.month
#aus_weather.latitude = aus_fires.latitude.round(PRECISION)
#aus_weather.longitude = aus_fires.longitude.round(PRECISION)
#fires = aus_weather.groupby(['STATION', 'LATITUDE', 'LONGITUDE', 'year', 'month']).size().reset_index()

#aus_wth_agg = aus_weather.groupby(['STATION', 'LATITUDE', 'LONGITUDE', 'year', 'month']) \
 #   .agg({'TEMP':'mean','DEWP':'sum', 'WDSP':'sum', 'MAX':'max', 'MIN': 'min'}) \
  #  .reset_index()

aus_wth_agg = aus_weather.groupby(['STATION', 'LATITUDE', 'LONGITUDE', 'year', 'month']) \
    .agg(T_MAX=('MAX', 'max'), T_MAX_MEAN=('MAX', 'mean'), T_MEAN=('TEMP', 'mean'), \
         DEWP_MEAN=('DEWP', 'mean'), WDSP_MEAN=('WDSP', 'mean'), \
         MXSPD_MAX=('MXSPD', 'max')) \
    .reset_index()

#fires.columns = ['latitude', 'longitude', 'year', 'month', 'temp_avg']

aus_wth_agg.shape
aus_wth_agg.head()
aus_wth_agg.nunique()

(49924, 11)

,STATION,LATITUDE,LONGITUDE,year,month,T_MAX,T_MAX_MEAN,T_MEAN,DEWP_MEAN,WDSP_MEAN,MXSPD_MAX
0,94100099999,-14.3,126.63,2013,1,98.2,92.912903,83.251613,73.677419,4.151613,15.9
1,94100099999,-14.3,126.63,2013,2,98.8,92.392857,81.314286,72.925000,3.271429,18.1
2,94100099999,-14.3,126.63,2013,3,98.6,94.161290,81.209677,72.329032,3.022581,11.1
3,94100099999,-14.3,126.63,2013,4,100.2,94.876667,79.353333,64.230000,3.613333,11.1
4,94100099999,-14.3,126.63,2013,5,98.4,91.987097,78.706452,64.177419,3.748387,12.0

STATION         595
LATITUDE        481
LONGITUDE       506
year              9
month            12
T_MAX           470
T_MAX_MEAN    28563
T_MEAN        27248
DEWP_MEAN     25790
WDSP_MEAN     13494
MXSPD_MAX       116
dtype: int64

# Detect stations and its number of observations

In [11]:
st_cnt_sample = aus_wth_agg.groupby(['STATION','LATITUDE','LONGITUDE']).size().reset_index().rename(columns={0:'count'})

st_cnt_sample = st_cnt_sample.reset_index()
st_cnt_sample = st_cnt_sample.rename(columns={"index":"STAT_ID"})
st_cnt_sample['STAT_ID'] = st_cnt_sample.index + 1

st_cnt_sample.shape
print('Max observations', st_cnt_sample['count'].max())
print('Min observations', st_cnt_sample['count'].min())
#st_cnt_sample.head()
# how many stations have only one observation
st_cnt_sample[st_cnt_sample['count'] == 1].shape
st_cnt_sample.head()

(595, 5)

Max observations 108
Min observations 1

(78, 5)

   STAT_ID      STATION  LATITUDE  LONGITUDE  count
0        1  94100099999    -14.30     126.63    108
1        2  94102099999    -13.75     126.15    108
2        3  94103099999    -14.12     123.53     91
3        4  94105099999    -12.62     131.05     92
4        5  94106099999    -14.72     134.75     92

In [12]:
# remote stations that do not have 12 * 9 = 108 month data (up to december 2021)
st_cnt_sample_108 = st_cnt_sample[st_cnt_sample['count'] >= 108]
st_cnt_sample_108.shape

(393, 5)

In [13]:
# drop non relevant stations
st_cnt_sample_del = st_cnt_sample[st_cnt_sample['count'] < 108]
st_cnt_sample = st_cnt_sample.drop(st_cnt_sample_del.index)

st_cnt_sample.shape
st_cnt_sample_del.head()

(393, 5)

   STAT_ID      STATION  LATITUDE  LONGITUDE  count
2        3  94103099999    -14.12     123.53     91
3        4  94105099999    -12.62     131.05     92
4        5  94106099999    -14.72     134.75     92
5        6  94108099999    -11.17     132.48     90
6        7  94109099999    -11.55     132.93     92

In [14]:
# remove stations that have less count observations
print('Remove stations', len(st_cnt_sample_del['STATION'].unique()))

# remove stations that are in st_cnt_sample_del
cond = aus_wth_agg['STATION'].isin(st_cnt_sample_del['STATION'])
aus_wth_agg.drop(aus_wth_agg[cond].index, inplace = True)

aus_wth_agg.shape
aus_wth_agg.head()

Remove stations 202

(42444, 11)

,STATION,LATITUDE,LONGITUDE,year,month,T_MAX,T_MAX_MEAN,T_MEAN,DEWP_MEAN,WDSP_MEAN,MXSPD_MAX
0,94100099999,-14.3,126.63,2013,1,98.2,92.912903,83.251613,73.677419,4.151613,15.9
1,94100099999,-14.3,126.63,2013,2,98.8,92.392857,81.314286,72.925000,3.271429,18.1
2,94100099999,-14.3,126.63,2013,3,98.6,94.161290,81.209677,72.329032,3.022581,11.1
3,94100099999,-14.3,126.63,2013,4,100.2,94.876667,79.353333,64.230000,3.613333,11.1
4,94100099999,-14.3,126.63,2013,5,98.4,91.987097,78.706452,64.177419,3.748387,12.0

In [15]:
st_cnt_sample.shape
aus_wth_agg[aus_wth_agg['STATION'] == 94100099999].head(2)

(393, 5)

,STATION,LATITUDE,LONGITUDE,year,month,T_MAX,T_MAX_MEAN,T_MEAN,DEWP_MEAN,WDSP_MEAN,MXSPD_MAX
0,94100099999,-14.3,126.63,2013,1,98.2,92.912903,83.251613,73.677419,4.151613,15.9
1,94100099999,-14.3,126.63,2013,2,98.8,92.392857,81.314286,72.925000,3.271429,18.1

# Check duplicates again

In [16]:
# Selecting duplicate rows based
# on list of column names
# sort it first to remove rows relevant to same stations
aus_wth_agg.sort_values(by=['STATION'], ascending=True, inplace=True)
aus_wth_agg_d = aus_wth_agg[aus_wth_agg.duplicated(['year', 'month', 'LATITUDE', 'LONGITUDE'], keep=False)]

print('Before delete', aus_wth_agg.shape)
aus_wth_agg.drop_duplicates(subset=['year', 'month', 'LATITUDE', 'LONGITUDE'], keep='first', inplace=True)
print('After delete', aus_wth_agg.shape)

#aus_weather_d.head()

test = aus_wth_agg_d[(aus_wth_agg_d['year'] == 2013) & (aus_wth_agg_d['month'] == 1) & \
                     (aus_wth_agg_d['LATITUDE'] == -32.22)]
test.head()

Before delete (42444, 11)
After delete (42012, 11)

,STATION,LATITUDE,LONGITUDE,year,month,T_MAX,T_MAX_MEAN,T_MEAN,DEWP_MEAN,WDSP_MEAN,MXSPD_MAX
22100,94719099999,-32.22,148.57,2013,1,111.2,96.916129,82.054839,54.129032,9.912903,35.0
43790,95719099999,-32.22,148.57,2013,1,113.0,98.487097,81.877419,54.083871,9.825806,22.9

In [17]:
# remove stations that have less count observations
print('Stations', len(st_cnt_sample['STATION'].unique()))

# remove stations that are in st_cnt_sample_del
cond = ~st_cnt_sample['STATION'].isin(aus_wth_agg['STATION'])
st_cnt_sample.drop(st_cnt_sample[cond].index, inplace = True)

st_cnt_sample.shape
st_cnt_sample.head()

Stations 393

(389, 5)

    STAT_ID      STATION  LATITUDE  LONGITUDE  count
0         1  94100099999    -14.30     126.63    108
1         2  94102099999    -13.75     126.15    108
10       11  94119099999    -11.40     130.42    108
11       12  94120099999    -12.41     130.88    108
12       13  94122099999    -11.78     130.02    108

In [18]:
import plotly.express as px
import geopandas as gpd

fig = px.scatter_geo(st_cnt_sample,
                    lat=st_cnt_sample.LATITUDE,
                    lon=st_cnt_sample.LONGITUDE,
                    hover_name="STAT_ID")
fig.show()

In [19]:
st_cnt_sample_np = st_cnt_sample[['LATITUDE', 'LONGITUDE']].to_numpy()
st_cnt_sample_np[:10]

array([[-14.3 , 126.63],
       [-13.75, 126.15],
       [-11.4 , 130.42],
       [-12.41, 130.88],
       [-11.78, 130.02],
       [-13.05, 131.02],
       [-13.83, 131.18],
       [-14.95, 130.8 ],
       [-14.52, 132.38],
       [-11.05, 132.98]])

In [20]:
coords = st_cnt_sample_np
kms_per_radian = 6371.0088
epsilon = 50 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 226

In [21]:
kms_per_radian = 6371.0088

AUS_LAT_RANGE = (-40, -9)
AUS_LON_RANGE = (112, 154.7)

AUS_LAT_RANGE_R = (9, 40)
AUS_LON_RANGE_R = (112, 154.7)

bottomLeft = (AUS_LAT_RANGE_R[1], AUS_LON_RANGE[0])
bottomRight = (AUS_LAT_RANGE_R[1], AUS_LON_RANGE[1])
topLeft = (AUS_LAT_RANGE_R[0], AUS_LON_RANGE[0])
topRight = (AUS_LAT_RANGE_R[0], AUS_LON_RANGE[1])

In [22]:
# remove non relevent weather data
print('Before', aus_weather.shape)

aus_weather = aus_weather[
  (aus_weather.LATITUDE <= AUS_LAT_RANGE[1]) & (aus_weather.LATITUDE >= AUS_LAT_RANGE[0])]
aus_weather = aus_weather[
    (aus_weather.LONGITUDE <= AUS_LON_RANGE[1]) & (aus_weather.LONGITUDE >= AUS_LON_RANGE[0])]

print('After', aus_weather.shape)

Before (1479377, 21)
After (1479377, 21)

In [23]:
from geopy.distance import geodesic

coords_1 = (AUS_LAT_RANGE[1], AUS_LON_RANGE[0])
coords_2 = (AUS_LAT_RANGE[0], AUS_LON_RANGE[0])
lat_dist = geodesic(coords_1, coords_2).km
print('Lat dist', lat_dist)

coords_1 = (AUS_LAT_RANGE[1], AUS_LON_RANGE[0])
coords_2 = (AUS_LAT_RANGE[1], AUS_LON_RANGE[1])
lng_dist = geodesic(coords_1, coords_2).km
print('Lng dist', lng_dist)

#coords_1 = (-9, 40)
#coords_2 = (-9, 41)
#lng_dist = geodesic(coords_1, coords_2).km
#print('Lng dist', lng_dist)

Lat dist 3434.2787529548777
Lng dist 4692.393446544515

## Bins and weather stations

We cannot process entire dataset and match weather stations due to platform memory limits. The datasets of fire and weather records is relatively big. The idea that I came up with is to divide the Australia mainland into grid cells (see bins here) and assign a weather station located in this bin to every fire record that is inside this bin. This approach helps us not to iterate through all combinations of fire records and weather stations, and save memory and computations resources.

In [24]:
cnt_rows = lat_dist / 100
cnt_cols = lng_dist / 100

rows = np.linspace(bottomLeft[1], bottomRight[1], num=int(cnt_rows))
cols = np.linspace(topLeft[0], bottomLeft[0], num=int(cnt_cols))

cols_gap = abs(cols[1] - cols[0])
rows_gap = abs(rows[1] - rows[0])
print('Cols cnt', len(cols))
print('Rows cnt', len(rows))
print('Cols gap', cols_gap, 'Rows gap', rows_gap)
print(rows)
print(cols)

print(np.linspace(1, 10, num=3))

def detect_bin(lat, lng):
    col_lng = (int)((lng - AUS_LON_RANGE_R[0]) / cols_gap)
    col_lat = (int)((abs(lat) - AUS_LAT_RANGE_R[0]) / rows_gap)
    return f'{col_lat},{col_lng}'

Cols cnt 46
Rows cnt 34
Cols gap 0.6888888888888882 Rows gap 1.2939393939393966
[112.         113.29393939 114.58787879 115.88181818 117.17575758
 118.46969697 119.76363636 121.05757576 122.35151515 123.64545455
 124.93939394 126.23333333 127.52727273 128.82121212 130.11515152
 131.40909091 132.7030303  133.9969697  135.29090909 136.58484848
 137.87878788 139.17272727 140.46666667 141.76060606 143.05454545
 144.34848485 145.64242424 146.93636364 148.23030303 149.52424242
 150.81818182 152.11212121 153.40606061 154.7       ]
[ 9.          9.68888889 10.37777778 11.06666667 11.75555556 12.44444444
 13.13333333 13.82222222 14.51111111 15.2        15.88888889 16.57777778
 17.26666667 17.95555556 18.64444444 19.33333333 20.02222222 20.71111111
 21.4        22.08888889 22.77777778 23.46666667 24.15555556 24.84444444
 25.53333333 26.22222222 26.91111111 27.6        28.28888889 28.97777778
 29.66666667 30.35555556 31.04444444 31.73333333 32.42222222 33.11111111
 33.8        34.48888889 35.17777778 35.86666667 36.55555556 37.24444444
 37.93333333 38.62222222 39.31111111 40.        ]
[ 1.   5.5 10. ]

In [25]:
# check stations inside bin
non_null_first = 0
dict_w = {}
for idx1, r in enumerate(tqdm(rows)):
    for idx2, c in enumerate(tqdm(cols)):
        if idx1 == 0 or idx2 == 0: continue
        #print(r, c)
        col_lat1 = cols[idx2 - 1]
        col_lat2 = cols[idx2]
        rows1_lng = rows[idx1 - 1]
        rows2_lng = rows[idx1]
        
        #if idx1 < 3 and idx2 < 3:
         #   print(-col_lat1, -col_lat2)
         #   print(rows1_lng, rows2_lng)
        
        aus_1 = st_cnt_sample[
          (st_cnt_sample.LATITUDE <= -col_lat1) & (st_cnt_sample.LATITUDE >= -col_lat2)]
        aus_1 = aus_1[
            (aus_1.LONGITUDE <= rows2_lng) & (aus_1.LONGITUDE >= rows1_lng)]
        
        if non_null_first == 0 and len(aus_1.index) > 0:
            print('First ', (idx1, idx2), (r, c), len(aus_1.index))
            non_null_first = len(aus_1.index)
        dict_w[(idx1, idx2)] = len(aus_1.index)

print(max(dict_w, key=dict_w.get))        
print(dict_w)

  0%|          | 0/34 [00:00<?, ?it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 188232.18it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 845.37it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 856.58it/s]
  9%|â–‰         | 3/34 [00:00<00:01, 24.76it/s]

First  (2, 20) (114.5878787878788, 22.77777777777778) 1

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 863.90it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 826.14it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 842.17it/s]
 18%|â–ˆâ–Š        | 6/34 [00:00<00:01, 19.43it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 672.49it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 611.50it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 723.85it/s]
 26%|â–ˆâ–ˆâ–‹       | 9/34 [00:00<00:01, 16.07it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 624.12it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 618.80it/s]
 32%|â–ˆâ–ˆâ–ˆâ–      | 11/34 [00:00<00:01, 14.75it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 644.79it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 816.91it/s]
 38%|â–ˆâ–ˆâ–ˆâ–Š      | 13/34 [00:00<00:01, 14.56it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 784.40it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 676.78it/s]
 44%|â–ˆâ–ˆâ–ˆâ–ˆâ–     | 15/34 [00:00<00:01, 14.60it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 820.26it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 821.00it/s]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 17/34 [00:01<00:01, 14.99it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 649.72it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 606.42it/s]
 56%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ    | 19/34 [00:01<00:01, 14.10it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 628.63it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 595.12it/s]
 62%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–   | 21/34 [00:01<00:00, 13.47it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 692.16it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 705.73it/s]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 23/34 [00:01<00:00, 13.56it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 571.41it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 739.40it/s]
 74%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 25/34 [00:01<00:00, 13.29it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 631.81it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 740.02it/s]
 79%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰  | 27/34 [00:01<00:00, 13.41it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 576.02it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 774.11it/s]
 85%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ | 29/34 [00:02<00:00, 13.23it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 646.65it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 663.20it/s]
 91%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 31/34 [00:02<00:00, 13.17it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 655.48it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 669.48it/s]
 97%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹| 33/34 [00:02<00:00, 13.15it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 46/46 [00:00<00:00, 659.51it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 34/34 [00:02<00:00, 14.17it/s]

(21, 38)
{(1, 1): 0, (1, 2): 0, (1, 3): 0, (1, 4): 0, (1, 5): 0, (1, 6): 0, (1, 7): 0, (1, 8): 0, (1, 9): 0, (1, 10): 0, (1, 11): 0, (1, 12): 0, (1, 13): 0, (1, 14): 0, (1, 15): 0, (1, 16): 0, (1, 17): 0, (1, 18): 0, (1, 19): 0, (1, 20): 0, (1, 21): 0, (1, 22): 0, (1, 23): 0, (1, 24): 0, (1, 25): 0, (1, 26): 0, (1, 27): 0, (1, 28): 0, (1, 29): 0, (1, 30): 0, (1, 31): 0, (1, 32): 0, (1, 33): 0, (1, 34): 0, (1, 35): 0, (1, 36): 0, (1, 37): 0, (1, 38): 0, (1, 39): 0, (1, 40): 0, (1, 41): 0, (1, 42): 0, (1, 43): 0, (1, 44): 0, (1, 45): 0, (2, 1): 0, (2, 2): 0, (2, 3): 0, (2, 4): 0, (2, 5): 0, (2, 6): 0, (2, 7): 0, (2, 8): 0, (2, 9): 0, (2, 10): 0, (2, 11): 0, (2, 12): 0, (2, 13): 0, (2, 14): 0, (2, 15): 0, (2, 16): 0, (2, 17): 0, (2, 18): 0, (2, 19): 0, (2, 20): 1, (2, 21): 0, (2, 22): 0, (2, 23): 0, (2, 24): 1, (2, 25): 1, (2, 26): 0, (2, 27): 0, (2, 28): 0, (2, 29): 0, (2, 30): 0, (2, 31): 0, (2, 32): 0, (2, 33): 0, (2, 34): 0, (2, 35): 0, (2, 36): 0, (2, 37): 0, (2, 38): 0, (2, 39): 0, (2, 40): 0, (2, 41): 0, (2, 42): 0, (2, 43): 0, (2, 44): 0, (2, 45): 0, (3, 1): 0, (3, 2): 0, (3, 3): 0, (3, 4): 0, (3, 5): 0, (3, 6): 0, (3, 7): 0, (3, 8): 0, (3, 9): 0, (3, 10): 0, (3, 11): 0, (3, 12): 0, (3, 13): 0, (3, 14): 0, (3, 15): 0, (3, 16): 0, (3, 17): 0, (3, 18): 1, (3, 19): 2, (3, 20): 0, (3, 21): 0, (3, 22): 0, (3, 23): 0, (3, 24): 0, (3, 25): 0, (3, 26): 0, (3, 27): 0, (3, 28): 0, (3, 29): 1, (3, 30): 0, (3, 31): 1, (3, 32): 0, (3, 33): 1, (3, 34): 5, (3, 35): 1, (3, 36): 3, (3, 37): 1, (3, 38): 0, (3, 39): 0, (3, 40): 0, (3, 41): 0, (3, 42): 0, (3, 43): 0, (3, 44): 0, (3, 45): 0, (4, 1): 0, (4, 2): 0, (4, 3): 0, (4, 4): 0, (4, 5): 0, (4, 6): 0, (4, 7): 0, (4, 8): 0, (4, 9): 0, (4, 10): 0, (4, 11): 0, (4, 12): 0, (4, 13): 0, (4, 14): 0, (4, 15): 0, (4, 16): 0, (4, 17): 0, (4, 18): 2, (4, 19): 0, (4, 20): 0, (4, 21): 0, (4, 22): 0, (4, 23): 0, (4, 24): 0, (4, 25): 0, (4, 26): 0, (4, 27): 0, (4, 28): 0, (4, 29): 0, (4, 30): 1, (4, 31): 1, (4, 32): 0, (4, 33): 1, (4, 34): 3, (4, 35): 2, (4, 36): 1, (4, 37): 2, (4, 38): 1, (4, 39): 0, (4, 40): 0, (4, 41): 0, (4, 42): 0, (4, 43): 0, (4, 44): 0, (4, 45): 0, (5, 1): 0, (5, 2): 0, (5, 3): 0, (5, 4): 0, (5, 5): 0, (5, 6): 0, (5, 7): 0, (5, 8): 0, (5, 9): 0, (5, 10): 0, (5, 11): 0, (5, 12): 0, (5, 13): 0, (5, 14): 0, (5, 15): 0, (5, 16): 0, (5, 17): 0, (5, 18): 0, (5, 19): 0, (5, 20): 0, (5, 21): 1, (5, 22): 0, (5, 23): 0, (5, 24): 0, (5, 25): 0, (5, 26): 0, (5, 27): 0, (5, 28): 1, (5, 29): 0, (5, 30): 0, (5, 31): 0, (5, 32): 0, (5, 33): 1, (5, 34): 0, (5, 35): 0, (5, 36): 1, (5, 37): 0, (5, 38): 1, (5, 39): 0, (5, 40): 0, (5, 41): 0, (5, 42): 0, (5, 43): 0, (5, 44): 0, (5, 45): 0, (6, 1): 0, (6, 2): 0, (6, 3): 0, (6, 4): 0, (6, 5): 0, (6, 6): 0, (6, 7): 0, (6, 8): 0, (6, 9): 0, (6, 10): 0, (6, 11): 0, (6, 12): 0, (6, 13): 0, (6, 14): 0, (6, 15): 0, (6, 16): 0, (6, 17): 1, (6, 18): 1, (6, 19): 0, (6, 20): 0, (6, 21): 0, (6, 22): 0, (6, 23): 0, (6, 24): 0, (6, 25): 0, (6, 26): 0, (6, 27): 0, (6, 28): 0, (6, 29): 0, (6, 30): 0, (6, 31): 0, (6, 32): 0, (6, 33): 1, (6, 34): 0, (6, 35): 1, (6, 36): 1, (6, 37): 1, (6, 38): 0, (6, 39): 0, (6, 40): 0, (6, 41): 0, (6, 42): 0, (6, 43): 0, (6, 44): 0, (6, 45): 0, (7, 1): 0, (7, 2): 0, (7, 3): 0, (7, 4): 0, (7, 5): 0, (7, 6): 0, (7, 7): 0, (7, 8): 0, (7, 9): 0, (7, 10): 0, (7, 11): 0, (7, 12): 0, (7, 13): 0, (7, 14): 0, (7, 15): 0, (7, 16): 0, (7, 17): 0, (7, 18): 0, (7, 19): 0, (7, 20): 0, (7, 21): 1, (7, 22): 0, (7, 23): 0, (7, 24): 0, (7, 25): 0, (7, 26): 0, (7, 27): 0, (7, 28): 1, (7, 29): 0, (7, 30): 0, (7, 31): 0, (7, 32): 0, (7, 33): 0, (7, 34): 0, (7, 35): 0, (7, 36): 1, (7, 37): 0, (7, 38): 0, (7, 39): 0, (7, 40): 0, (7, 41): 0, (7, 42): 0, (7, 43): 0, (7, 44): 0, (7, 45): 0, (8, 1): 0, (8, 2): 0, (8, 3): 0, (8, 4): 0, (8, 5): 0, (8, 6): 0, (8, 7): 0, (8, 8): 0, (8, 9): 0, (8, 10): 0, (8, 11): 0, (8, 12): 0, (8, 13): 1, (8, 14): 0, (8, 15): 0, (8, 16): 0, (8, 17): 0, (8, 18): 0, (8, 19): 1, (8, 20): 0, (8, 21): 0, (8, 22): 0, (8, 23): 0, (8, 24): 0, (8, 25): 0, (8, 26): 0, (8, 27): 0, (8, 28): 0, (8, 29): 1, (8, 30): 0, (8, 31): 0, (8, 32): 1, (8, 33): 0, (8, 34): 1, (8, 35): 0, (8, 36): 1, (8, 37): 1, (8, 38): 0, (8, 39): 0, (8, 40): 0, (8, 41): 0, (8, 42): 0, (8, 43): 0, (8, 44): 0, (8, 45): 0, (9, 1): 0, (9, 2): 0, (9, 3): 0, (9, 4): 0, (9, 5): 0, (9, 6): 0, (9, 7): 0, (9, 8): 0, (9, 9): 0, (9, 10): 0, (9, 11): 0, (9, 12): 0, (9, 13): 0, (9, 14): 0, (9, 15): 0, (9, 16): 0, (9, 17): 0, (9, 18): 0, (9, 19): 0, (9, 20): 0, (9, 21): 0, (9, 22): 0, (9, 23): 0, (9, 24): 0, (9, 25): 0, (9, 26): 0, (9, 27): 0, (9, 28): 0, (9, 29): 1, (9, 30): 0, (9, 31): 0, (9, 32): 0, (9, 33): 0, (9, 34): 0, (9, 35): 0, (9, 36): 0, (9, 37): 0, (9, 38): 0, (9, 39): 0, (9, 40): 0, (9, 41): 0, (9, 42): 0, (9, 43): 0, (9, 44): 0, (9, 45): 0, (10, 1): 0, (10, 2): 0, (10, 3): 0, (10, 4): 0, (10, 5): 0, (10, 6): 0, (10, 7): 0, (10, 8): 0, (10, 9): 0, (10, 10): 0, (10, 11): 0, (10, 12): 0, (10, 13): 2, (10, 14): 0, (10, 15): 0, (10, 16): 0, (10, 17): 0, (10, 18): 0, (10, 19): 0, (10, 20): 0, (10, 21): 0, (10, 22): 0, (10, 23): 0, (10, 24): 0, (10, 25): 0, (10, 26): 0, (10, 27): 0, (10, 28): 0, (10, 29): 0, (10, 30): 0, (10, 31): 0, (10, 32): 0, (10, 33): 0, (10, 34): 0, (10, 35): 0, (10, 36): 0, (10, 37): 0, (10, 38): 0, (10, 39): 0, (10, 40): 0, (10, 41): 0, (10, 42): 0, (10, 43): 0, (10, 44): 0, (10, 45): 0, (11, 1): 0, (11, 2): 0, (11, 3): 0, (11, 4): 0, (11, 5): 0, (11, 6): 0, (11, 7): 1, (11, 8): 0, (11, 9): 0, (11, 10): 0, (11, 11): 0, (11, 12): 0, (11, 13): 0, (11, 14): 1, (11, 15): 0, (11, 16): 0, (11, 17): 0, (11, 18): 0, (11, 19): 0, (11, 20): 0, (11, 21): 0, (11, 22): 0, (11, 23): 0, (11, 24): 0, (11, 25): 0, (11, 26): 0, (11, 27): 0, (11, 28): 0, (11, 29): 0, (11, 30): 0, (11, 31): 0, (11, 32): 0, (11, 33): 0, (11, 34): 0, (11, 35): 0, (11, 36): 0, (11, 37): 0, (11, 38): 0, (11, 39): 0, (11, 40): 0, (11, 41): 0, (11, 42): 0, (11, 43): 0, (11, 44): 0, (11, 45): 0, (12, 1): 0, (12, 2): 0, (12, 3): 0, (12, 4): 0, (12, 5): 0, (12, 6): 0, (12, 7): 0, (12, 8): 1, (12, 9): 0, (12, 10): 0, (12, 11): 0, (12, 12): 0, (12, 13): 0, (12, 14): 0, (12, 15): 0, (12, 16): 0, (12, 17): 0, (12, 18): 0, (12, 19): 0, (12, 20): 0, (12, 21): 0, (12, 22): 0, (12, 23): 0, (12, 24): 0, (12, 25): 0, (12, 26): 0, (12, 27): 0, (12, 28): 0, (12, 29): 0, (12, 30): 0, (12, 31): 0, (12, 32): 0, (12, 33): 0, (12, 34): 0, (12, 35): 0, (12, 36): 0, (12, 37): 0, (12, 38): 0, (12, 39): 0, (12, 40): 0, (12, 41): 0, (12, 42): 0, (12, 43): 0, (12, 44): 0, (12, 45): 0, (13, 1): 0, (13, 2): 0, (13, 3): 0, (13, 4): 0, (13, 5): 0, (13, 6): 0, (13, 7): 0, (13, 8): 0, (13, 9): 0, (13, 10): 2, (13, 11): 0, (13, 12): 1, (13, 13): 0, (13, 14): 1, (13, 15): 0, (13, 16): 0, (13, 17): 0, (13, 18): 0, (13, 19): 0, (13, 20): 0, (13, 21): 0, (13, 22): 0, (13, 23): 0, (13, 24): 1, (13, 25): 0, (13, 26): 0, (13, 27): 0, (13, 28): 0, (13, 29): 0, (13, 30): 0, (13, 31): 0, (13, 32): 1, (13, 33): 0, (13, 34): 0, (13, 35): 0, (13, 36): 0, (13, 37): 0, (13, 38): 0, (13, 39): 0, (13, 40): 0, (13, 41): 0, (13, 42): 0, (13, 43): 0, (13, 44): 0, (13, 45): 0, (14, 1): 0, (14, 2): 0, (14, 3): 0, (14, 4): 0, (14, 5): 1, (14, 6): 0, (14, 7): 0, (14, 8): 0, (14, 9): 0, (14, 10): 0, (14, 11): 0, (14, 12): 0, (14, 13): 0, (14, 14): 0, (14, 15): 0, (14, 16): 0, (14, 17): 1, (14, 18): 0, (14, 19): 0, (14, 20): 0, (14, 21): 1, (14, 22): 0, (14, 23): 0, (14, 24): 0, (14, 25): 0, (14, 26): 0, (14, 27): 0, (14, 28): 0, (14, 29): 0, (14, 30): 0, (14, 31): 0, (14, 32): 0, (14, 33): 1, (14, 34): 0, (14, 35): 0, (14, 36): 0, (14, 37): 0, (14, 38): 0, (14, 39): 0, (14, 40): 0, (14, 41): 0, (14, 42): 0, (14, 43): 0, (14, 44): 0, (14, 45): 0, (15, 1): 0, (15, 2): 0, (15, 3): 0, (15, 4): 1, (15, 5): 1, (15, 6): 2, (15, 7): 0, (15, 8): 1, (15, 9): 1, (15, 10): 0, (15, 11): 1, (15, 12): 0, (15, 13): 0, (15, 14): 0, (15, 15): 0, (15, 16): 0, (15, 17): 0, (15, 18): 0, (15, 19): 0, (15, 20): 0, (15, 21): 0, (15, 22): 0, (15, 23): 0, (15, 24): 0, (15, 25): 0, (15, 26): 0, (15, 27): 0, (15, 28): 0, (15, 29): 0, (15, 30): 0, (15, 31): 0, (15, 32): 0, (15, 33): 1, (15, 34): 0, (15, 35): 0, (15, 36): 0, (15, 37): 0, (15, 38): 0, (15, 39): 0, (15, 40): 0, (15, 41): 0, (15, 42): 0, (15, 43): 0, (15, 44): 0, (15, 45): 0, (16, 1): 0, (16, 2): 0, (16, 3): 0, (16, 4): 0, (16, 5): 0, (16, 6): 0, (16, 7): 0, (16, 8): 0, (16, 9): 1, (16, 10): 0, (16, 11): 0, (16, 12): 0, (16, 13): 0, (16, 14): 0, (16, 15): 0, (16, 16): 0, (16, 17): 0, (16, 18): 0, (16, 19): 0, (16, 20): 0, (16, 21): 0, (16, 22): 0, (16, 23): 0, (16, 24): 0, (16, 25): 0, (16, 26): 1, (16, 27): 0, (16, 28): 0, (16, 29): 0, (16, 30): 0, (16, 31): 0, (16, 32): 0, (16, 33): 0, (16, 34): 0, (16, 35): 0, (16, 36): 0, (16, 37): 0, (16, 38): 0, (16, 39): 0, (16, 40): 0, (16, 41): 0, (16, 42): 0, (16, 43): 0, (16, 44): 0, (16, 45): 0, (17, 1): 0, (17, 2): 0, (17, 3): 1, (17, 4): 1, (17, 5): 0, (17, 6): 1, (17, 7): 0, (17, 8): 0, (17, 9): 0, (17, 10): 0, (17, 11): 1, (17, 12): 0, (17, 13): 0, (17, 14): 0, (17, 15): 0, (17, 16): 0, (17, 17): 0, (17, 18): 0, (17, 19): 0, (17, 20): 1, (17, 21): 0, (17, 22): 1, (17, 23): 0, (17, 24): 0, (17, 25): 0, (17, 26): 0, (17, 27): 0, (17, 28): 0, (17, 29): 0, (17, 30): 0, (17, 31): 0, (17, 32): 0, (17, 33): 0, (17, 34): 0, (17, 35): 0, (17, 36): 0, (17, 37): 0, (17, 38): 0, (17, 39): 0, (17, 40): 0, (17, 41): 0, (17, 42): 0, (17, 43): 0, (17, 44): 0, (17, 45): 0, (18, 1): 0, (18, 2): 0, (18, 3): 0, (18, 4): 0, (18, 5): 2, (18, 6): 0, (18, 7): 0, (18, 8): 0, (18, 9): 0, (18, 10): 0, (18, 11): 0, (18, 12): 0, (18, 13): 0, (18, 14): 0, (18, 15): 0, (18, 16): 1, (18, 17): 0, (18, 18): 0, (18, 19): 0, (18, 20): 0, (18, 21): 0, (18, 22): 0, (18, 23): 0, (18, 24): 0, (18, 25): 0, (18, 26): 0, (18, 27): 0, (18, 28): 0, (18, 29): 0, (18, 30): 1, (18, 31): 0, (18, 32): 1, (18, 33): 0, (18, 34): 0, (18, 35): 1, (18, 36): 0, (18, 37): 0, (18, 38): 0, (18, 39): 0, (18, 40): 0, (18, 41): 0, (18, 42): 0, (18, 43): 0, (18, 44): 0, (18, 45): 0, (19, 1): 0, (19, 2): 0, (19, 3): 0, (19, 4): 0, (19, 5): 0, (19, 6): 0, (19, 7): 0, (19, 8): 1, (19, 9): 0, (19, 10): 0, (19, 11): 1, (19, 12): 0, (19, 13): 0, (19, 14): 0, (19, 15): 0, (19, 16): 0, (19, 17): 0, (19, 18): 0, (19, 19): 0, (19, 20): 0, (19, 21): 0, (19, 22): 0, (19, 23): 0, (19, 24): 0, (19, 25): 0, (19, 26): 0, (19, 27): 1, (19, 28): 0, (19, 29): 0, (19, 30): 0, (19, 31): 0, (19, 32): 0, (19, 33): 0, (19, 34): 0, (19, 35): 1, (19, 36): 0, (19, 37): 1, (19, 38): 1, (19, 39): 0, (19, 40): 0, (19, 41): 0, (19, 42): 0, (19, 43): 0, (19, 44): 0, (19, 45): 0, (20, 1): 0, (20, 2): 0, (20, 3): 1, (20, 4): 0, (20, 5): 2, (20, 6): 0, (20, 7): 0, (20, 8): 0, (20, 9): 0, (20, 10): 1, (20, 11): 0, (20, 12): 0, (20, 13): 0, (20, 14): 0, (20, 15): 0, (20, 16): 0, (20, 17): 0, (20, 18): 0, (20, 19): 0, (20, 20): 0, (20, 21): 0, (20, 22): 0, (20, 23): 0, (20, 24): 0, (20, 25): 0, (20, 26): 0, (20, 27): 0, (20, 28): 0, (20, 29): 0, (20, 30): 0, (20, 31): 0, (20, 32): 1, (20, 33): 1, (20, 34): 0, (20, 35): 2, (20, 36): 0, (20, 37): 1, (20, 38): 2, (20, 39): 4, (20, 40): 0, (20, 41): 0, (20, 42): 0, (20, 43): 0, (20, 44): 0, (20, 45): 0, (21, 1): 0, (21, 2): 0, (21, 3): 0, (21, 4): 0, (21, 5): 0, (21, 6): 0, (21, 7): 0, (21, 8): 0, (21, 9): 0, (21, 10): 0, (21, 11): 0, (21, 12): 0, (21, 13): 0, (21, 14): 0, (21, 15): 1, (21, 16): 1, (21, 17): 0, (21, 18): 0, (21, 19): 0, (21, 20): 0, (21, 21): 0, (21, 22): 0, (21, 23): 0, (21, 24): 0, (21, 25): 0, (21, 26): 0, (21, 27): 0, (21, 28): 0, (21, 29): 0, (21, 30): 0, (21, 31): 1, (21, 32): 0, (21, 33): 0, (21, 34): 0, (21, 35): 0, (21, 36): 1, (21, 37): 2, (21, 38): 8, (21, 39): 4, (21, 40): 0, (21, 41): 0, (21, 42): 0, (21, 43): 0, (21, 44): 0, (21, 45): 0, (22, 1): 0, (22, 2): 0, (22, 3): 0, (22, 4): 0, (22, 5): 0, (22, 6): 0, (22, 7): 0, (22, 8): 0, (22, 9): 0, (22, 10): 0, (22, 11): 0, (22, 12): 0, (22, 13): 1, (22, 14): 0, (22, 15): 0, (22, 16): 0, (22, 17): 1, (22, 18): 0, (22, 19): 1, (22, 20): 0, (22, 21): 0, (22, 22): 0, (22, 23): 0, (22, 24): 0, (22, 25): 1, (22, 26): 0, (22, 27): 0, (22, 28): 1, (22, 29): 0, (22, 30): 0, (22, 31): 0, (22, 32): 0, (22, 33): 0, (22, 34): 0, (22, 35): 1, (22, 36): 0, (22, 37): 0, (22, 38): 1, (22, 39): 0, (22, 40): 1, (22, 41): 2, (22, 42): 0, (22, 43): 0, (22, 44): 0, (22, 45): 0, (23, 1): 0, (23, 2): 0, (23, 3): 0, (23, 4): 0, (23, 5): 0, (23, 6): 0, (23, 7): 0, (23, 8): 0, (23, 9): 0, (23, 10): 1, (23, 11): 0, (23, 12): 0, (23, 13): 0, (23, 14): 0, (23, 15): 0, (23, 16): 0, (23, 17): 2, (23, 18): 0, (23, 19): 1, (23, 20): 0, (23, 21): 0, (23, 22): 0, (23, 23): 0, (23, 24): 0, (23, 25): 0, (23, 26): 0, (23, 27): 0, (23, 28): 0, (23, 29): 0, (23, 30): 0, (23, 31): 0, (23, 32): 0, (23, 33): 1, (23, 34): 1, (23, 35): 0, (23, 36): 0, (23, 37): 2, (23, 38): 0, (23, 39): 1, (23, 40): 1, (23, 41): 3, (23, 42): 4, (23, 43): 2, (23, 44): 0, (23, 45): 0, (24, 1): 0, (24, 2): 0, (24, 3): 1, (24, 4): 0, (24, 5): 0, (24, 6): 2, (24, 7): 0, (24, 8): 0, (24, 9): 0, (24, 10): 0, (24, 11): 0, (24, 12): 0, (24, 13): 0, (24, 14): 0, (24, 15): 0, (24, 16): 0, (24, 17): 0, (24, 18): 0, (24, 19): 0, (24, 20): 0, (24, 21): 0, (24, 22): 0, (24, 23): 0, (24, 24): 0, (24, 25): 0, (24, 26): 0, (24, 27): 1, (24, 28): 0, (24, 29): 0, (24, 30): 1, (24, 31): 0, (24, 32): 0, (24, 33): 0, (24, 34): 0, (24, 35): 0, (24, 36): 0, (24, 37): 0, (24, 38): 1, (24, 39): 1, (24, 40): 0, (24, 41): 4, (24, 42): 2, (24, 43): 3, (24, 44): 0, (24, 45): 0, (25, 1): 0, (25, 2): 0, (25, 3): 0, (25, 4): 0, (25, 5): 0, (25, 6): 0, (25, 7): 1, (25, 8): 0, (25, 9): 0, (25, 10): 0, (25, 11): 1, (25, 12): 0, (25, 13): 0, (25, 14): 1, (25, 15): 0, (25, 16): 0, (25, 17): 1, (25, 18): 1, (25, 19): 0, (25, 20): 1, (25, 21): 1, (25, 22): 0, (25, 23): 0, (25, 24): 0, (25, 25): 0, (25, 26): 0, (25, 27): 0, (25, 28): 1, (25, 29): 0, (25, 30): 0, (25, 31): 0, (25, 32): 1, (25, 33): 1, (25, 34): 0, (25, 35): 1, (25, 36): 0, (25, 37): 0, (25, 38): 0, (25, 39): 1, (25, 40): 1, (25, 41): 2, (25, 42): 2, (25, 43): 2, (25, 44): 1, (25, 45): 1, (26, 1): 0, (26, 2): 0, (26, 3): 0, (26, 4): 0, (26, 5): 0, (26, 6): 0, (26, 7): 0, (26, 8): 0, (26, 9): 1, (26, 10): 1, (26, 11): 1, (26, 12): 1, (26, 13): 0, (26, 14): 0, (26, 15): 0, (26, 16): 0, (26, 17): 0, (26, 18): 0, (26, 19): 0, (26, 20): 0, (26, 21): 0, (26, 22): 0, (26, 23): 1, (26, 24): 0, (26, 25): 0, (26, 26): 0, (26, 27): 0, (26, 28): 0, (26, 29): 0, (26, 30): 0, (26, 31): 0, (26, 32): 0, (26, 33): 0, (26, 34): 0, (26, 35): 0, (26, 36): 0, (26, 37): 0, (26, 38): 1, (26, 39): 1, (26, 40): 3, (26, 41): 2, (26, 42): 7, (26, 43): 6, (26, 44): 0, (26, 45): 0, (27, 1): 0, (27, 2): 0, (27, 3): 0, (27, 4): 0, (27, 5): 0, (27, 6): 0, (27, 7): 0, (27, 8): 0, (27, 9): 0, (27, 10): 0, (27, 11): 0, (27, 12): 1, (27, 13): 1, (27, 14): 0, (27, 15): 1, (27, 16): 1, (27, 17): 0, (27, 18): 0, (27, 19): 0, (27, 20): 0, (27, 21): 0, (27, 22): 0, (27, 23): 0, (27, 24): 0, (27, 25): 0, (27, 26): 1, (27, 27): 0, (27, 28): 0, (27, 29): 0, (27, 30): 0, (27, 31): 1, (27, 32): 0, (27, 33): 2, (27, 34): 0, (27, 35): 0, (27, 36): 0, (27, 37): 1, (27, 38): 2, (27, 39): 0, (27, 40): 4, (27, 41): 2, (27, 42): 1, (27, 43): 2, (27, 44): 3, (27, 45): 0, (28, 1): 0, (28, 2): 0, (28, 3): 0, (28, 4): 0, (28, 5): 0, (28, 6): 0, (28, 7): 0, (28, 8): 0, (28, 9): 0, (28, 10): 0, (28, 11): 0, (28, 12): 0, (28, 13): 0, (28, 14): 0, (28, 15): 0, (28, 16): 2, (28, 17): 0, (28, 18): 0, (28, 19): 0, (28, 20): 0, (28, 21): 0, (28, 22): 2, (28, 23): 0, (28, 24): 0, (28, 25): 0, (28, 26): 0, (28, 27): 0, (28, 28): 0, (28, 29): 0, (28, 30): 0, (28, 31): 1, (28, 32): 0, (28, 33): 0, (28, 34): 1, (28, 35): 1, (28, 36): 2, (28, 37): 2, (28, 38): 1, (28, 39): 0, (28, 40): 3, (28, 41): 3, (28, 42): 3, (28, 43): 1, (28, 44): 0, (28, 45): 0, (29, 1): 0, (29, 2): 0, (29, 3): 0, (29, 4): 0, (29, 5): 0, (29, 6): 0, (29, 7): 0, (29, 8): 0, (29, 9): 0, (29, 10): 0, (29, 11): 0, (29, 12): 0, (29, 13): 0, (29, 14): 0, (29, 15): 0, (29, 16): 0, (29, 17): 3, (29, 18): 1, (29, 19): 0, (29, 20): 1, (29, 21): 0, (29, 22): 0, (29, 23): 0, (29, 24): 0, (29, 25): 0, (29, 26): 1, (29, 27): 0, (29, 28): 1, (29, 29): 0, (29, 30): 0, (29, 31): 0, (29, 32): 1, (29, 33): 1, (29, 34): 1, (29, 35): 0, (29, 36): 1, (29, 37): 2, (29, 38): 0, (29, 39): 3, (29, 40): 4, (29, 41): 2, (29, 42): 1, (29, 43): 0, (29, 44): 0, (29, 45): 0, (30, 1): 0, (30, 2): 0, (30, 3): 0, (30, 4): 0, (30, 5): 0, (30, 6): 0, (30, 7): 0, (30, 8): 0, (30, 9): 0, (30, 10): 0, (30, 11): 1, (30, 12): 0, (30, 13): 0, (30, 14): 0, (30, 15): 0, (30, 16): 0, (30, 17): 1, (30, 18): 0, (30, 19): 1, (30, 20): 2, (30, 21): 2, (30, 22): 0, (30, 23): 1, (30, 24): 0, (30, 25): 0, (30, 26): 1, (30, 27): 0, (30, 28): 0, (30, 29): 0, (30, 30): 1, (30, 31): 1, (30, 32): 1, (30, 33): 1, (30, 34): 1, (30, 35): 2, (30, 36): 4, (30, 37): 3, (30, 38): 5, (30, 39): 2, (30, 40): 2, (30, 41): 2, (30, 42): 2, (30, 43): 0, (30, 44): 0, (30, 45): 0, (31, 1): 0, (31, 2): 0, (31, 3): 0, (31, 4): 0, (31, 5): 0, (31, 6): 0, (31, 7): 0, (31, 8): 0, (31, 9): 0, (31, 10): 0, (31, 11): 0, (31, 12): 0, (31, 13): 0, (31, 14): 0, (31, 15): 0, (31, 16): 0, (31, 17): 0, (31, 18): 0, (31, 19): 0, (31, 20): 0, (31, 21): 0, (31, 22): 1, (31, 23): 0, (31, 24): 0, (31, 25): 1, (31, 26): 1, (31, 27): 3, (31, 28): 1, (31, 29): 1, (31, 30): 0, (31, 31): 2, (31, 32): 1, (31, 33): 0, (31, 34): 1, (31, 35): 5, (31, 36): 3, (31, 37): 8, (31, 38): 1, (31, 39): 0, (31, 40): 0, (31, 41): 0, (31, 42): 0, (31, 43): 0, (31, 44): 0, (31, 45): 0, (32, 1): 0, (32, 2): 0, (32, 3): 0, (32, 4): 0, (32, 5): 0, (32, 6): 0, (32, 7): 0, (32, 8): 0, (32, 9): 0, (32, 10): 0, (32, 11): 0, (32, 12): 0, (32, 13): 0, (32, 14): 0, (32, 15): 1, (32, 16): 0, (32, 17): 0, (32, 18): 0, (32, 19): 1, (32, 20): 0, (32, 21): 0, (32, 22): 1, (32, 23): 0, (32, 24): 3, (32, 25): 1, (32, 26): 3, (32, 27): 6, (32, 28): 2, (32, 29): 2, (32, 30): 3, (32, 31): 2, (32, 32): 0, (32, 33): 2, (32, 34): 2, (32, 35): 0, (32, 36): 0, (32, 37): 0, (32, 38): 0, (32, 39): 0, (32, 40): 0, (32, 41): 0, (32, 42): 0, (32, 43): 0, (32, 44): 0, (32, 45): 0, (33, 1): 0, (33, 2): 0, (33, 3): 0, (33, 4): 0, (33, 5): 0, (33, 6): 0, (33, 7): 0, (33, 8): 0, (33, 9): 0, (33, 10): 0, (33, 11): 0, (33, 12): 0, (33, 13): 0, (33, 14): 0, (33, 15): 0, (33, 16): 0, (33, 17): 0, (33, 18): 0, (33, 19): 0, (33, 20): 0, (33, 21): 0, (33, 22): 0, (33, 23): 0, (33, 24): 0, (33, 25): 0, (33, 26): 0, (33, 27): 1, (33, 28): 2, (33, 29): 2, (33, 30): 0, (33, 31): 0, (33, 32): 0, (33, 33): 0, (33, 34): 0, (33, 35): 0, (33, 36): 0, (33, 37): 0, (33, 38): 0, (33, 39): 0, (33, 40): 0, (33, 41): 0, (33, 42): 0, (33, 43): 0, (33, 44): 0, (33, 45): 0}

In [26]:
st_cnt_sample['st_bin'] = st_cnt_sample.apply(lambda x: detect_bin(x.LATITUDE, x.LONGITUDE), axis=1)
st_cnt_sample.shape
st_cnt_sample.head()

(389, 6)

    STAT_ID      STATION  LATITUDE  LONGITUDE  count st_bin
0         1  94100099999    -14.30     126.63    108   4,21
1         2  94102099999    -13.75     126.15    108   3,20
10       11  94119099999    -11.40     130.42    108   1,26
11       12  94120099999    -12.41     130.88    108   2,27
12       13  94122099999    -11.78     130.02    108   2,26

In [27]:
aus_wth_agg['st_bin'] = aus_wth_agg.apply(lambda x: detect_bin(x.LATITUDE, x.LONGITUDE), axis=1)
aus_wth_agg.head()

,STATION,LATITUDE,LONGITUDE,year,month,T_MAX,T_MAX_MEAN,T_MEAN,DEWP_MEAN,WDSP_MEAN,MXSPD_MAX,st_bin
0,94100099999,-14.3,126.63,2013,1,98.2,92.912903,83.251613,73.677419,4.151613,15.9,"4,21"
78,94100099999,-14.3,126.63,2019,7,94.1,90.822581,73.174194,47.225806,4.209677,14.0,"4,21"
77,94100099999,-14.3,126.63,2019,6,95.0,88.550000,73.200000,45.390000,4.240000,12.0,"4,21"
76,94100099999,-14.3,126.63,2019,5,98.8,92.212903,76.674194,55.309677,4.029032,13.0,"4,21"
75,94100099999,-14.3,126.63,2019,4,97.5,93.663333,81.046667,67.276667,3.376667,15.0,"4,21"

In [28]:
el = aus_wth_agg['st_bin'].unique()
len(el)
aus_wth_agg['st_bin'].values
aus_wth_agg.shape

239

array(['4,21', '4,21', '4,21', ..., '20,56', '20,56', '20,56'],
      dtype=object)

(42012, 12)

### Save binned weather data

In [29]:
aus_wth_agg.to_csv("aus_weather_binned_new.csv", index=False)
print('Binned data saved')

Binned data saved

In [30]:
aus_fires = pd.read_csv(WORK_DIR + '/wildfiredataset/australia_fire_total_ready.csv')
aus_fires.shape
aus_fires.head()

(4576014, 12)

,latitude,longitude,year,month,fire_cnt,fire,fire_cnt_before,fire_before,fire_cnt_last_year,fire_last_year,fire_cnt_last_year_same_month,fire_last_year_same_month
0,-40.0,143.9,2014,5,2,1,0.166667,0.083333,0.333333,0.083333,0,0
1,-40.0,143.9,2015,6,2,1,0.166667,0.083333,0.166667,0.083333,0,0
2,-40.0,143.9,2016,10,3,1,0.250000,0.083333,0.166667,0.083333,0,0
3,-40.0,143.9,2018,10,1,0,0.083333,0.000000,0.000000,0.000000,0,0
4,-40.0,143.9,2020,6,1,0,0.083333,0.000000,0.000000,0.000000,0,0

In [31]:
aus_fires['st_bin'] = aus_fires.apply(lambda x: detect_bin(x.latitude, x.longitude), axis=1)
aus_fires.head()

,latitude,longitude,year,month,fire_cnt,fire,fire_cnt_before,fire_before,fire_cnt_last_year,fire_last_year,fire_cnt_last_year_same_month,fire_last_year_same_month,st_bin
0,-40.0,143.9,2014,5,2,1,0.166667,0.083333,0.333333,0.083333,0,0,"23,46"
1,-40.0,143.9,2015,6,2,1,0.166667,0.083333,0.166667,0.083333,0,0,"23,46"
2,-40.0,143.9,2016,10,3,1,0.250000,0.083333,0.166667,0.083333,0,0,"23,46"
3,-40.0,143.9,2018,10,1,0,0.083333,0.000000,0.000000,0.000000,0,0,"23,46"
4,-40.0,143.9,2020,6,1,0,0.083333,0.000000,0.000000,0.000000,0,0,"23,46"

In [32]:
fire_st_list = aus_fires['st_bin'].unique()
len(fire_st_list)
print(fire_st_list[:10])
print(dict_w.get((31,33)))

no_st = []
ret = []
for idx1, r in enumerate (rows):
    for idx2, c in enumerate(cols):
        dict_val = dict_w.get((idx1, idx2))
        if dict_val == 0: # no station in this zone
            no_st.append((idx1, idx2))

        if f'{idx1},{idx2}' not in fire_st_list:
            ret.append(f'{idx1},{idx2}')
print('Missing zones', len(ret))

need_st = []
for st_b in tqdm(fire_st_list):
    idx1, idx2 = st_b.split(',')
    idx1 = int(idx1)
    idx2 = int(idx2)
    
    dict_val = dict_w.get((idx1, idx2))
    if dict_val == 0: # no station in this zone
        need_st.append((idx1, idx2))


print('No weather stations', len(need_st))

971

['23,46' '23,52' '23,51' '23,49' '23,50' '23,45' '22,45' '22,46' '22,49'
 '22,50']
0
Missing zones 827

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 971/971 [00:00<00:00, 289993.53it/s]

No weather stations 637

### We are ready to save binned fire dataset

In [33]:
aus_fires.to_csv("aus_fires_binned.csv", index=False)
print('Binned fire dataset saved')

Binned fire dataset saved

### Find nearest weather stations for every fire record

Use GeoPandas package for this task https://geopandas.org/en/stable/docs/reference/api/geopandas.sindex.SpatialIndex.nearest.html

In [34]:
aus_wth_agg.shape
aus_wth_agg.head()

(42012, 12)

,STATION,LATITUDE,LONGITUDE,year,month,T_MAX,T_MAX_MEAN,T_MEAN,DEWP_MEAN,WDSP_MEAN,MXSPD_MAX,st_bin
0,94100099999,-14.3,126.63,2013,1,98.2,92.912903,83.251613,73.677419,4.151613,15.9,"4,21"
78,94100099999,-14.3,126.63,2019,7,94.1,90.822581,73.174194,47.225806,4.209677,14.0,"4,21"
77,94100099999,-14.3,126.63,2019,6,95.0,88.550000,73.200000,45.390000,4.240000,12.0,"4,21"
76,94100099999,-14.3,126.63,2019,5,98.8,92.212903,76.674194,55.309677,4.029032,13.0,"4,21"
75,94100099999,-14.3,126.63,2019,4,97.5,93.663333,81.046667,67.276667,3.376667,15.0,"4,21"

In [35]:
# weather stations
st_cnt_sample.shape
st_cnt_sample.head(3)

(389, 6)

    STAT_ID      STATION  LATITUDE  LONGITUDE  count st_bin
0         1  94100099999    -14.30     126.63    108   4,21
1         2  94102099999    -13.75     126.15    108   3,20
10       11  94119099999    -11.40     130.42    108   1,26

In [36]:
%%time

import geopandas as gpd
from shapely.geometry import Point
from shapely.ops import nearest_points

geometry = [Point(xy) for xy in zip(aus_wth_agg.LONGITUDE, aus_wth_agg.LATITUDE)]
gdf = gpd.GeoDataFrame(aus_wth_agg, crs="EPSG:4326", geometry=geometry)
gdf.head(3)

CPU times: user 2.43 s, sys: 1.89 ms, total: 2.43 s
Wall time: 2.49 s

,STATION,LATITUDE,LONGITUDE,year,month,T_MAX,T_MAX_MEAN,T_MEAN,DEWP_MEAN,WDSP_MEAN,MXSPD_MAX,st_bin,geometry
0,94100099999,-14.3,126.63,2013,1,98.2,92.912903,83.251613,73.677419,4.151613,15.9,"4,21",POINT (126.63000 -14.30000)
78,94100099999,-14.3,126.63,2019,7,94.1,90.822581,73.174194,47.225806,4.209677,14.0,"4,21",POINT (126.63000 -14.30000)
77,94100099999,-14.3,126.63,2019,6,95.0,88.550000,73.200000,45.390000,4.240000,12.0,"4,21",POINT (126.63000 -14.30000)

In [37]:
# calculate nearest stations for each station
aus_fires['nearest_geometry'] = None

multipoint = gdf.geometry.unary_union

for index, row in tqdm(aus_fires.iterrows()):
    point = Point(row.longitude, row.latitude)
    queried_geom, nearest_geom = nearest_points(point, multipoint)
    aus_fires.at[index, 'nearest_geometry'] = nearest_geom

aus_fires.head()

4576014it [17:08, 4450.85it/s]

,latitude,longitude,year,month,fire_cnt,fire,fire_cnt_before,fire_before,fire_cnt_last_year,fire_last_year,fire_cnt_last_year_same_month,fire_last_year_same_month,st_bin,nearest_geometry
0,-40.0,143.9,2014,5,2,1,0.166667,0.083333,0.333333,0.083333,0,0,"23,46",POINT (143.88 -39.88)
1,-40.0,143.9,2015,6,2,1,0.166667,0.083333,0.166667,0.083333,0,0,"23,46",POINT (143.88 -39.88)
2,-40.0,143.9,2016,10,3,1,0.250000,0.083333,0.166667,0.083333,0,0,"23,46",POINT (143.88 -39.88)
3,-40.0,143.9,2018,10,1,0,0.083333,0.000000,0.000000,0.000000,0,0,"23,46",POINT (143.88 -39.88)
4,-40.0,143.9,2020,6,1,0,0.083333,0.000000,0.000000,0.000000,0,0,"23,46",POINT (143.88 -39.88)

### Save a dataset of fire records with information about weather stations

In [38]:
aus_fires.to_csv("aus_fires_binned_geometry.csv", index=False)
print('Fire binned geometry data saved')

Fire binned geometry data saved